# Java
*.class
*.jar
*.war
*.ear

# Spring Boot
target/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/target/

# Gradle
.gradle
build/

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# OS files
.DS_Store